*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(43, 43, 198, 0.838);
}
.form{
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background-color: white;
}
header{
    font-size: 28px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.847);
    text-align: center;

}
form{
    margin-top: 30px;

}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px ;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form button{
    color: #FFF;
    background-color: rgba(0, 0, 255, 0.778);
    transition: all 0.3s ease;
    cursor: pointer;
}
.form button:hover{
    
    background-color:rgba(0, 0, 255, 0.904);
}
.form-link span,
.form-link span a{

    font-size: 14px;
    font-weight: 400;
    color: #464950;
}
.form a{
    color:#0171d3;
    text-decoration: none;

}
.form-content a:hover{
    text-decoration: underline;
}

.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0 ;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #232836;
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}
a.facebook{
    color: #fff;
    background-color: #4267b2;
}
a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.facebook-icon{
    position: absolute;
    top:50%;
    left:15px;
    transform: translateY(-50%);
}
img.google-img{
height: 20px;
width: 20px;
object-fit: cover;
}
a.google{
    border: 1px solid #cacaca;
}
a.google span{
    font-weight: 500;
    opacity: 0.6;
    color:#232836;
}
